body {
  background-color: #f7f5f5;
}

header {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 130px;
}

.sketch {
  display: flex;
  column-gap: 5px;
}

.sideMenu {
  display: grid;
  row-gap: 20px;
}
